input[type="text"],
[type="email"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 400px;
  margin: 30px auto;
}

/* when the input field is touched and when the data is invalid, highlight the field */
input.ng-invalid.ng-touched {
  border: red 1px solid;
}

small {
  color: red;
}

.myForm.INVALID {
  border: read 1px solid;
  box-shadow: 0 0 31px rgba(255, 0, 0, 0.7) !important;
}

.myForm.PENDING {
  border: #f6de0b 1px solid;
  box-shadow: 0 0 31px rgba(255, 235, 0, 0.7) !important;
}

.myForm.VALID {
  boder: #2ee536 1px solid;
  box-shadow: 0 0 31px rgba(78, 233, 84, 0.7) !important;
}
