<div class="form myForm" [ngClass]="formStatus">
  <h2 id="registration">Registration Form</h2>
  <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
    <!-- Group of form controls -->
    <div formGroupName="personalDetails">
      <label for="fname">First Name</label>
      <input
        type="text"
        id="fname"
        placeholder="Your name.."
        formControlName="firstname"
      />
      <div>
        <small
          *ngIf="
            reactiveForm.get('personalDetails.firstname').errors?.['required']
          "
          >First name is a required field.</small
        >
        <!-- Knowledge Equalizing Operator: this operator will not evaluate any further expression once it's null. If the error object evaluation is null, the further expression will be ignore-->
        <small
          *ngIf="
            reactiveForm.get('personalDetails.firstname').errors?.[
              'noSpaceAllowed'
            ]
          "
          >First name cannot contain a space.</small
        >
      </div>

      <label for="lname">Last Name</label>
      <input
        type="text"
        id="lname"
        placeholder="Your last name.."
        formControlName="lastname"
      />

      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        placeholder="Your last email.."
        formControlName="email"
      />
    </div>
    <div>
      <span
        style="color: red"
        *ngIf="
          !reactiveForm.get('personalDetails.email').valid &&
          reactiveForm.get('personalDetails.email').touched
        "
        >The email you entered is not a valid email.</span
      >
    </div>

    <label for="country">Country</label>
    <select id="country" formControlName="country">
      <option value="australia">Australia</option>
      <option value="canada">Canada</option>
      <option value="usa">USA</option>
      <option value="india">India</option>
      <option value="uk">UK</option>
    </select>

    <label for="gender">Gender:</label>
    <input type="radio" id="male" value="male" formControlName="gender" />
    <label for="gender">Male</label>
    <input type="radio" id="female" value="female" formControlName="gender" />
    <label for="gender">Female</label>
    <input type="radio" id="other" value="other" formControlName="gender" />
    <label for="gender">Other</label>

    <br /><br />

    <label>Hobbies <i>(Optional)</i></label>
    <div class="form-inline">
      <label
        ><input type="checkbox" value="sports" formControlName="hobbies" />
        Sports</label
      >
      <label
        ><input type="checkbox" value="movies" formControlName="hobbies" />
        Movies</label
      >
      <label
        ><input type="checkbox" value="music" formControlName="hobbies" />
        Music</label
      >
    </div>

    <div formArrayName="skills">
      <ng-container
        *ngFor="let skill of reactiveForm.get('skills')['controls']; index as i"
      >
        <input
          type="text"
          placeholder="add skill.."
          formControlName="{{ i }}"
        />
      </ng-container>
      <button (click)="addSkills()">+ Add Skills</button>
      <!-- use FormArray can generate form controls dynamicly -->
    </div>

    <input type="submit" value="Submit" id="btn" />

    <!-- <div class="form-data">
      <h3>Form Data</h3>
      <p>
        First Name: <b>{{ firstname }}</b>
      </p>
      <p>
        Last Name: <b>{{ lastname }}</b>
      </p>
      <p>
        Email: <b>{{ email }}</b>
      </p>
      <p>
        Country: <b>{{ country }}</b>
      </p>
      <p>
        Gender: <b>{{ gen }}</b>
      </p>
    </div> -->
  </form>
</div>
